@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    font-family: "Inter", Helvetica, sans-serif;
}

.data-table::-webkit-scrollbar {
    width: 5px;
}

.data-table::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

div[data-slot="table-container"]::-webkit-scrollbar {
    height: 5px;
}

div[data-slot="table-container"]::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
